nav#barra-nav{
    background-color: #00657a;
}

.botones-superiores{
    max-width: 300;
    margin-right: auto;
}

div#foto-perfil{
    margin-bottom:-110px;
    position: relative;
    padding: 10px;
    bottom: 110px;
}

div.mat-card{
    border-color: #00657a;
    margin: 0px 10px;
    padding: 0px;
    margin-bottom: 20px;
}

.container{
    max-width: auto;
    max-height: 400px;
}

div#botones{
    padding: 15px
}

button.btn.btn-primary{
    margin: 0px 10px
}


.texto-experiencia{
    height: 100px;
    position: relative;
    margin-top: -45px;
    margin-left: 80px;
    width: 400px;
    line-height: 8px;
    padding-top: 4px;
 }


.experiencia-laboral{
    width: 300px;
    padding-top: 15px;
}

.educacion{
    width: 300px;
    padding-top: 15px;
}

.texto-educacion{
    height: 100px;
    position: relative;
    margin-top: -45px;
    margin-left: 80px;
    width: 400px;
    line-height: 8px;
    padding-top: 20px;
 }

 .progress{
     max-width: 800px;
     margin-left: auto; 
     margin-right:auto;
     background: red;
 }

 .texto-skills{
    text-align:center;
 }